:root {
    --cor-do-jogo: black;
  }

.sorteio{
    border: 1px solid rgb(217, 217, 217);
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.aposta{
    border: 1px solid rgb(217, 217, 217);
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.numeros-para-selecionar{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px 10px 10px 10px;
}

.numeros-selecionados{
    display: flex;    
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    color: rgb(181, 180, 180);    
}

.numero-nao-selecionado{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid black;
    text-align: center;
    font-size: larger;
    background-color: rgb(196, 195, 197);
}

.numero-selecionado{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid black;
    text-align: center;
    font-size: larger;
    color: white;
    background-color: var(--cor-do-jogo);
}

.div-botoes{
    display: flex;
    gap: 10px;
    justify-content: end;
    padding: 10px 0px 10px 0px;
}

.cabecalho{
    display: flex;
    justify-content: space-between; /* Espaço máximo entre os elementos */
    align-items: center; /* Alinha verticalmente */
    padding: 10px;
    width: 100%;
}